body { 
    font-family: "metal mania", sans-serif; 
} 
h1, h2, h3 { 
    font-family: "Arial", cursive; 
} 

h2 { 
    color: rgb(5, 48, 114); 
} 
 
header h2 { 
    color: #CEC8FF; 
} 
 
.site-footer { 
    background-image: linear-gradient(rgb(9, 136, 196), rgb(56, 81, 87)); 
    padding: 20px 0;
    color: white;
} 

.jumbotron { 
    padding: 30px; 
    background-image: linear-gradient(to right, rgb(6, 12, 105), rgb(7, 139, 73), rgb(19, 10, 141)); 
    color: white; 
} 

.jumbotron { 
    margin: 0; 
} 
 
.row-content { 
    padding: 50px 0; 
    border-bottom: 1px ridge; 
    min-height: 200px; 
} 

.navbar { 
    background-color: rgb(9, 136, 196); 
} 
.carousel-caption { 
    background-color: rgba(0, 0, 0, 0.5); 
} 

.carousel { 
    border: solid #5637DD; 
} 
 
#carouselButton { 
    position: absolute; 
    right: 0; 
    bottom: 0; 
}

#pad {
    margin-left: 110px;
}